{{!-- views/admin/projects/partials/instance_table.handlebars --}}
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Código</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    {{#each instances}}
    <tr>
      <td>{{this.name}}</td>
      <td>{{this.code}}</td>
      <td>{{this.status}}</td>
      <td>
        <a href="/admin/instances/edit/{{this.id}}" class="btn btn-sm btn-warning">Editar</a>
        <form action="/admin/instances/{{this.id}}" method="POST" class="d-inline">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit" class="btn btn-sm btn-danger" onclick="return confirm('Deseja realmente deletar?')">Deletar</button>
        </form>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>
